.block{
    margin: 3px;
    float: left;
    display: block;
    width: 58px;
    height: 58px;
    border: solid;
    cursor: pointer;
}
.empty{
    background-color: rgba(255, 255, 0, 0.166);
}

.r-chess{
    background-color: #FF6666;
}

.b-chess{
    background-color: #33FFFF;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

input{
    height: 22px;
    width: 80;
}

button{
    height: 28px;
    width: 40;
}

.panel{
    display: block;
    border: 1px solid;
    width: 17%;
    height: 250px;
    padding: 2px;

    position: fixed;
    top: 5;
    left: 5;
}